.markus{
    width: 225px;
    height: 300px;
}

.pink{
    color:  pink;
}

.linkit{
    text-decoration:none;
    color:black;
    margin: 30px;
    font-size: 20px;
}

.headerdiv{
    padding: 40px;
}

.center{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

body{
    background: linear-gradient(#C4E8DF,#D8F6D6, #EEFBDD,#FFFFE6,#FFEEDD,#FFE4DD);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:hover{
    text-decoration: underline;
}

html { 
    height: 100%;
    overflow-y: hidden;
    margin-bottom:0;
    padding:0;
    overflow:hidden;
}